<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.honglu.headline.rule.config.core.mapper.RedLevelDao">

	<!--查询翻倍红包-->
	<select id="queryAllRedLevel" resultType="com.honglu.headline.rule.config.facade.domain.RedLevel" parameterType="map">
		SELECT
		id , level_name AS levelName, level_multiple AS levelMultiple, level_percent AS levelPercent, VERSION, create_time AS createTime, create_user AS createUser,
		create_user_name AS createUserName,modify_time modifyTime, modify_user AS modifyUser, modify_user_name AS modifyUserName
		FROM sc_red_level
	</select>


</mapper>